
body {
    height: 100vh;
    background: var(--bg-color);
    background-size: cover;
    background-repeat: no-repeat;
}

@media(max-width: 425px) {
    header {
        padding: 50px 10px 20px 10px;
        display: flex;
        justify-content: center;
    }
    .logo img {
        width: 300px;
        padding: 8px 0;
    }

    main {
        padding: 5px 25px;
    }
    .boas-vindas {
        margin-bottom: 40px;
    }
    .boas-vindas h2{
        font-size: 25px;
        font-weight: 400;
        color: var(--primary-text-color);
        margin-bottom: 16px;
    }

    .boas-vindas p {
        color: var(--secundary-text-color);
    }

    .assuntos {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .assuntos button {
        background-color: var(--bg-btn);
        color: #ffffff;
        border: none;
        border-radius: 8px;
        padding: 12px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        box-shadow: var(--shadow-btn);
        font-size: 18px;
        font-weight: 500;
    }

    .btn-html div {
        background: var(--bg-html);
        border-radius: 5px;
    }
    .btn-css div {
        background: var(--bg-css);
        border-radius: 5px;
    }
    .btn-js div {
        border-radius: 5px;
        background: var(--bg-js);
    }
    .btn-acess div {
        border-radius: 5px;
        background: var(--bg-acessibilidade);
    }
}
