/*import font*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", Arial, Helvetica, sans-serif;
}
/*variáveis*/
:root {
    --bg-color-principal: linear-gradient(to left top, #e84227, #e13c23, #da361f, #d3301c, #cc2a18, #c62515, #bf2011, #b91a0e, #b2150a, #ab0e07, #a40703, #9d0000);
    --primary-text-color: #313e51;
    --secundary-text-color: #626c7f;
    --bg-btn: #324a6de5 ;
    --shadow-btn:rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgb(57, 57, 57) 0px 3px 7px -3px;
    --bg-white: #fff;
    --bg-html: #fff1e9;
    --bg-css: #e0fdef;
    --bg-js: #ebf0ff;
    --bg-acessibilidade: #f6e7ff;
}

@media(min-width:1024px){
    header {
        padding: 50px 10px 100px 10px;
    }
    .logo img {
        width: 450px;
        padding: 25px;
    }
    main{
        display: flex;
        gap: 150px;
        max-width: 1100px;
        margin-inline: auto;
    }
    section {
        width: 100%;
    }
    .boas-vindas h2{
        font-size: 54px;
        font-weight: 500;
        margin-bottom: 50px;
        text-align: center;
    }
    .boas-vindas p{
        font-size: 25px;
        font-weight: 400;
        text-align: center;
    }
    .assuntos {
        gap: 25px;
    }
    .assuntos button{
        font-size: 20px;
        padding: 20px;
        
    }
    button div img{
        width: 60px;
        height: 60px;
        padding: 8px;
    }
}

