@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", Arial, Helvetica, sans-serif;
}
:root {
    --bg-color: linear-gradient(to top, #f68b73, #f7b085, #f2d9ba, #f0e4c3, #f9faea);
    --primary-text-color: #313e51;
    --secundary-text-color: #626c7f;
}
